body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width:348px;
    background-color: #000000;
    border: 0.1px solid rgba(255, 255, 255, 0.2);
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}
input{
    width: 280px;
    height: 35px;
    border-radius: 3px;
    border: 0.1px solid rgba(255, 255, 255, 0.2);
    padding-left: 10px;
    margin-bottom: 10px;
    background-color:#1c1e21;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-weight: 100;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-size: 12Px;
}

button{
    width: 280px;
    height: 33px;
    border-radius: 8px;
    border: none;
    background-color:rgba(24, 119, 242,0.9);
    color: rgba(255, 255, 255, 0.6);
    font-weight: 550;
    cursor: pointer;
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 0px;
    transition: background-color 0.3s ease;
}
input:focus{
    outline: none;
}
a
{
    text-decoration: none;
    color: white;
}

#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    border-radius: 10px;
}
.container i{
    margin-right: 5px;
    font-size: 20px;
}
.container 
P{
    color:#007bff;

}
h1{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}
.container2{
    background-color: #000000;
    border: 0.1px solid rgba(255, 255, 255, 0.2);
    width: 348px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

}
.container2 a{

    color:rgba(24, 119, 242);
    font-weight: 600;
    font-size: 14px;
}
.container2 a:hover{
    text-decoration: underline;
}
.fp:hover{
    text-decoration: underline;
}
.container .fp{
    margin-top: 10px;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}
.app-links{
    margin-top: 10px;
    display: flex;
    width: 600px;
    gap: 10px;
    justify-content: center;
}
.app-links a{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 0.1px solid rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-top: 80px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.line-container{
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    flex-direction: row;
    row-gap: 40px;
    margin-top: 0px;
}
.line-container p{
    margin: 0 25px;
    font-weight: 500;
    font-size: 14px;
    
}
hr{
    width: 105px;
    height: 0.1px;
    background-color : rgba(255, 255, 255, 0.19);
    border: none;
}
.fb{
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
   color: rgba(24, 119, 242);
}
.fp{
    font-weight: 200;
}
.apple{
    display: flex;
}
.apple a{
    border: 1px 1px 1px 0 solid rgba(255, 255, 255, 0.5);
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 0px;
}
img{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 0px;
}
.footer a{
    color: rgba(255, 255, 255,0.6);
    font-size: 12px;
    flex-wrap: wrap;
}
.copyright{
    color: rgba(255, 255, 255,0.6);
    font-size: 12px;
    margin-top: 10px;
    display: flex;
    gap: 15px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    margin-top: 20px;
}
#result{
    color: red;
    margin-bottom: 25px;
    font-size: 12px;
    text-align: center;
    padding-top: 0px;
}
h1{
    margin-top: 40px;
    text-align: center;
}

/* Add this to your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

